<mat-card class="login-form-container">
    <mat-card-title class="title">{{ title }}</mat-card-title>

    <mat-card-content class="login-form-content">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
            <div class="login-form-field-container">
                <mat-form-field>
                <mat-label>Correo electronico</mat-label>
                  <input 
                    type="text" 
                    matInput 
                    placeholder="micorreo@correo.com" 
                    formControlName="EMAIL"/>
                    <mat-error>{{ getTextError('EMAIL') }}</mat-error>
                </mat-form-field>
            </div>    
            <div class="login-form-field-container">
                <mat-form-field>
                <mat-label>Contraseña</mat-label>
                  <input 
                    type="password" 
                    matInput 
                    placeholder="*******" 
                    formControlName="PASSWORD"/>
                    <mat-error>{{ getTextError('PASSWORD') }}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-btn">
                <button 
                    type="submit"
                    mat-flat-button 
                    [disabled]="myForm.invalid"
                    color="primary">Ingresar</button>
            </div>
        </form>

        
    </mat-card-content>
    
    <div class="form-card-footer">
        <p><strong>Aún no tienes cuenta?</strong></p>
        <a disabled routerLink="register">Registrate aquí!</a>
    </div>

</mat-card>